body{background-color: khaki;
padding: auto;
border: #454040;}

h1{
  
  background-color: khaki;
  font-style: inherit;
}

h2{
  background-color: rgb(224, 135, 80);
  font-style: inherit;
}
nav {
  
  background-color: rgba(240, 147, 15, 0.563);
  color: #454040;
  padding: 10px;
}

nav ul {
  font-style: italic;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
    display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: n #4f4a4a;
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
}

p{
  font-style: italic;
}

