body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:rgb(235, 164, 224);
}

button {
  padding: 10px;
  background-color: rgb(255, 0, 195);
  color: rgb(241, 239, 242);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(185, 185, 193);
}
